<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Template Engine</h1>
    <ul>
        <% for (let i = 0; i < arr.length; i++) { %>
            <li><%= arr[i] %></li>
        <% } %>
    </ul>
</body>

</html>